.description a{
    text-decoration: none;
    margin: 2%;
    color: #333;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: inline-block;
}